body{
   background-color: rgb(186, 186, 186);
   box-sizing: border-box;
   margin: 0;
}
header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   background-color: rgb(170, 170, 170);
   position: fixed;
   width: 100%;
}
.logo{
   cursor: pointer;
}
.nav-links a, .contacts{
text-decoration: none;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: rgb(255, 255, 255);
font-weight: 500;
}
.nav-links{
   display: flex;
   list-style: none;
   flex-direction: row;
}
.nav-links li{
   padding: 0px 20px;
}
.nav-links li a{
   transition: color 0.5s ease 0.5s;
}
.nav-links li a:hover{
   color: rgb(72, 72, 72);
}
.contacts {
   padding: 9px 25px;
   background-color: rgb(165, 165, 165);
   border: none;
   border-radius: 50px;
   cursor: pointer;
   transition:  0.5s ease 0.5s;
}
.contacts:hover{
background-color: rgb(106, 106, 106);
}
.main {
   display: flex;
   text-align: left;
   color: rgb(0, 0, 0);
}
.a{
   position: absolute;
   bottom: 600px;
   top: 200px;
   left: 80px;
   width: 25%;
   
}
.b{
   padding: 5px 15px;
   background-color: rgb(160, 160, 160);
   border: none;
   color: white;
   border-radius: 10px;
   cursor: pointer;
   transition: background-color 0.5s ease 0.5s;
}
.b:hover{
   background-color: rgb(109, 109, 109);
}
.text .s{
   text-align: center;
}
a{
   text-decoration: none;
   color: white;
}