body{
    background-color: rgb(186, 186, 186);
    box-sizing: border-box;
    margin: 0;
 }
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: rgb(170, 170, 170);
    position: fixed;
    width: 97%;
 }
.logo{
    cursor: pointer;
}
.nav-links a, .contacts{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 500;
    }
    .nav-links{
       display: flex;
       list-style: none;
       flex-direction: row;
    }
    .nav-links li{
       padding: 0px 20px;
    }
    .nav-links li a{
       transition: color 0.5s ease 0.5s;
    }
    .nav-links li a:hover{
       color: rgb(72, 72, 72);
    }
    .contacts {
       padding: 9px 25px;
       background-color: rgb(165, 165, 165);
       border: none;
       border-radius: 50px;
       cursor: pointer;
       transition:  0.5s ease 0.5s;
    }
    .contacts:hover{
    background-color: rgb(106, 106, 106);
}
a{
    color: rgb(0, 2, 102);
}
.btn{
    background-color: rgb(169, 169, 169);
    color: rgb(0, 0, 0);
    width: 100%;
    cursor: pointer;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    opacity: 0.8;
}
.btn:hover{
    opacity: 1;
}
.footer{
    background-color: rgb(170, 170, 170);
    margin-bottom: 0;
    padding-bottom: 0;
    color: rgb(0, 0, 0);
        }
.footer div{
    padding: 50px;
        }
.footer{
    display: flex;
    flex-direction: row;
 } 
.footer.a{
    flex-basis: 20%;
        }
.footer{
    justify-content: center;
}
.ftr a{
     text-decoration: none;
    color: black;
}
.footer a{
    text-decoration: none;
    color: black;
}
form{
    display: flex;
    font-size: large;
    justify-content: center;
}